[Desktop Entry]
Name=DK64Recompiled
Type=Application
Terminal=false
Icon=DK64Recompiled
Exec=DK64Recompiled
GenericName=DK64Recompiled
Categories=Game;

